<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mama100.lotteryweb.mapper.BwAdMapper">
  <resultMap id="BaseResultMap" type="com.mama100.lotteryweb.po.BwAd">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="app_url" jdbcType="VARCHAR" property="appUrl" />
    <result column="display_brand" jdbcType="VARCHAR" property="displayBrand" />
    <result column="wx_url" jdbcType="VARCHAR" property="wxUrl" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sort, status, system, image, app_url, display_brand, wx_url, info, operate_time, 
    end_time, start_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bw_ad
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bw_ad
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mama100.lotteryweb.po.BwAd">
    insert into bw_ad (id, sort, status, 
      system, image, app_url, 
      display_brand, wx_url, info, 
      operate_time, end_time, start_time
      )
    values (#{id,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{system,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{appUrl,jdbcType=VARCHAR}, 
      #{displayBrand,jdbcType=VARCHAR}, #{wxUrl,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mama100.lotteryweb.po.BwAd">
    insert into bw_ad
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="appUrl != null">
        app_url,
      </if>
      <if test="displayBrand != null">
        display_brand,
      </if>
      <if test="wxUrl != null">
        wx_url,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="appUrl != null">
        #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayBrand != null">
        #{displayBrand,jdbcType=VARCHAR},
      </if>
      <if test="wxUrl != null">
        #{wxUrl,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mama100.lotteryweb.po.BwAd">
    update bw_ad
    <set>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="appUrl != null">
        app_url = #{appUrl,jdbcType=VARCHAR},
      </if>
      <if test="displayBrand != null">
        display_brand = #{displayBrand,jdbcType=VARCHAR},
      </if>
      <if test="wxUrl != null">
        wx_url = #{wxUrl,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mama100.lotteryweb.po.BwAd">
    update bw_ad
    set sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      system = #{system,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      app_url = #{appUrl,jdbcType=VARCHAR},
      display_brand = #{displayBrand,jdbcType=VARCHAR},
      wx_url = #{wxUrl,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>