<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mama100.lotteryweb.mapper.BwBonusitemMapper">
  <resultMap id="BaseResultMap" type="com.mama100.lotteryweb.po.BwBonusitem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bonus_id" jdbcType="BIGINT" property="bonusId" />
    <result column="bonus_name" jdbcType="VARCHAR" property="bonusName" />
    <result column="bonus" jdbcType="VARCHAR" property="bonus" />
    <result column="bonus_url" jdbcType="VARCHAR" property="bonusUrl" />
    <result column="bonus_webpUrl" jdbcType="VARCHAR" property="bonusWebpurl" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="linked_url" jdbcType="VARCHAR" property="linkedUrl" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bonus_id, bonus_name, bonus, bonus_url, bonus_webpUrl, updated_by, linked_url, 
    system, created_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bw_bonusItem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bw_bonusItem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mama100.lotteryweb.po.BwBonusitem">
    insert into bw_bonusItem (id, bonus_id, bonus_name, 
      bonus, bonus_url, bonus_webpUrl, 
      updated_by, linked_url, system, 
      created_by)
    values (#{id,jdbcType=BIGINT}, #{bonusId,jdbcType=BIGINT}, #{bonusName,jdbcType=VARCHAR}, 
      #{bonus,jdbcType=VARCHAR}, #{bonusUrl,jdbcType=VARCHAR}, #{bonusWebpurl,jdbcType=VARCHAR}, 
      #{updatedBy,jdbcType=VARCHAR}, #{linkedUrl,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mama100.lotteryweb.po.BwBonusitem">
    insert into bw_bonusItem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bonusId != null">
        bonus_id,
      </if>
      <if test="bonusName != null">
        bonus_name,
      </if>
      <if test="bonus != null">
        bonus,
      </if>
      <if test="bonusUrl != null">
        bonus_url,
      </if>
      <if test="bonusWebpurl != null">
        bonus_webpUrl,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="linkedUrl != null">
        linked_url,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bonusId != null">
        #{bonusId,jdbcType=BIGINT},
      </if>
      <if test="bonusName != null">
        #{bonusName,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        #{bonus,jdbcType=VARCHAR},
      </if>
      <if test="bonusUrl != null">
        #{bonusUrl,jdbcType=VARCHAR},
      </if>
      <if test="bonusWebpurl != null">
        #{bonusWebpurl,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="linkedUrl != null">
        #{linkedUrl,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mama100.lotteryweb.po.BwBonusitem">
    update bw_bonusItem
    <set>
      <if test="bonusId != null">
        bonus_id = #{bonusId,jdbcType=BIGINT},
      </if>
      <if test="bonusName != null">
        bonus_name = #{bonusName,jdbcType=VARCHAR},
      </if>
      <if test="bonus != null">
        bonus = #{bonus,jdbcType=VARCHAR},
      </if>
      <if test="bonusUrl != null">
        bonus_url = #{bonusUrl,jdbcType=VARCHAR},
      </if>
      <if test="bonusWebpurl != null">
        bonus_webpUrl = #{bonusWebpurl,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="linkedUrl != null">
        linked_url = #{linkedUrl,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mama100.lotteryweb.po.BwBonusitem">
    update bw_bonusItem
    set bonus_id = #{bonusId,jdbcType=BIGINT},
      bonus_name = #{bonusName,jdbcType=VARCHAR},
      bonus = #{bonus,jdbcType=VARCHAR},
      bonus_url = #{bonusUrl,jdbcType=VARCHAR},
      bonus_webpUrl = #{bonusWebpurl,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      linked_url = #{linkedUrl,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>