<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mama100.lotteryweb.mapper.BwHealthmonitoringMapper">
  <resultMap id="BaseResultMap" type="com.mama100.lotteryweb.po.BwHealthmonitoring">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="info_type" jdbcType="VARCHAR" property="infoType" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="terminal" jdbcType="VARCHAR" property="terminal" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ip, system, info_type, message, url, terminal, activity_name, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bw_healthMonitoring
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bw_healthMonitoring
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mama100.lotteryweb.po.BwHealthmonitoring">
    insert into bw_healthMonitoring (id, ip, system, 
      info_type, message, url, 
      terminal, activity_name, created_time
      )
    values (#{id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR}, 
      #{infoType,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{terminal,jdbcType=VARCHAR}, #{activityName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mama100.lotteryweb.po.BwHealthmonitoring">
    insert into bw_healthMonitoring
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="infoType != null">
        info_type,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="terminal != null">
        terminal,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null">
        #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mama100.lotteryweb.po.BwHealthmonitoring">
    update bw_healthMonitoring
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="terminal != null">
        terminal = #{terminal,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mama100.lotteryweb.po.BwHealthmonitoring">
    update bw_healthMonitoring
    set ip = #{ip,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR},
      info_type = #{infoType,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      terminal = #{terminal,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>