<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mama100.lotteryweb.mapper.BwPointsMapper">
  <resultMap id="BaseResultMap" type="com.mama100.lotteryweb.po.BwPoints">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="seq_no" jdbcType="VARCHAR" property="seqNo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, status, point, account_type, type_id, created_time, operation_type, 
    activity_id, seq_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bw_points
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bw_points
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mama100.lotteryweb.po.BwPoints">
    insert into bw_points (id, customer_id, status, 
      point, account_type, type_id, 
      created_time, operation_type, activity_id, 
      seq_no)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, 
      #{point,jdbcType=INTEGER}, #{accountType,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{operationType,jdbcType=VARCHAR}, #{activityId,jdbcType=BIGINT}, 
      #{seqNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mama100.lotteryweb.po.BwPoints">
    insert into bw_points
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="accountType != null">
        account_type,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="operationType != null">
        operation_type,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="seqNo != null">
        seq_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationType != null">
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mama100.lotteryweb.po.BwPoints">
    update bw_points
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="accountType != null">
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationType != null">
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="seqNo != null">
        seq_no = #{seqNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mama100.lotteryweb.po.BwPoints">
    update bw_points
    set customer_id = #{customerId,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      account_type = #{accountType,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      operation_type = #{operationType,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=BIGINT},
      seq_no = #{seqNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>