<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mama100.lotteryweb.mapper.BwUserMapper">
  <resultMap id="BaseResultMap" type="com.mama100.lotteryweb.po.BwUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="system" jdbcType="VARCHAR" property="system" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, customer_id, gender, mobile, created_time, name, system
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bw_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bw_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mama100.lotteryweb.po.BwUser">
    insert into bw_user (id, open_id, customer_id, 
      gender, mobile, created_time, 
      name, system)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{gender,jdbcType=BIT}, #{mobile,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{system,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mama100.lotteryweb.po.BwUser">
    insert into bw_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="system != null">
        system,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mama100.lotteryweb.po.BwUser">
    update bw_user
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mama100.lotteryweb.po.BwUser">
    update bw_user
    set open_id = #{openId,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      mobile = #{mobile,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      system = #{system,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>